Repository sensein/senselab, pull requests merged in 2024-11, with the labels that each got.

#188 Update pyproject.toml
  pyproject.toml
Labels: release, patch, to-test

#190 fixing build status #2nd attempt
  .github/workflows/main-branch-status.yaml
Labels: release, patch, to-test

#174 Added CHAT file reader
  .github/workflows/tests.yaml
  pyproject.toml
  src/senselab/utils/data_structures/talk_bank_helpers.py
  src/tests/audio/conftest.py
  src/tests/data_for_testing/childes_clinical_eng_poler_match_166.cha
  src/tests/utils/conftest.py
  src/tests/utils/data_structures/talk_bank_helpers_test.py
  src/tests/video/conftest.py
Labels: enhancement, release, minor, to-test, to-test-gpu

#182 added extract_mel_filter_bank_from_spectrograms
  src/senselab/audio/tasks/features_extraction/praat_parselmouth.py
  src/senselab/audio/tasks/features_extraction/torchaudio.py
  tutorials/audio/features_extraction.ipynb
Labels: enhancement, release, minor, to-test, to-test-gpu

#181 Parallelize feats extraction with opensmile
  pyproject.toml
  src/senselab/__init__.py
  src/senselab/audio/tasks/features_extraction/api.py
  src/senselab/audio/tasks/features_extraction/opensmile.py
  src/senselab/audio/tasks/features_extraction/praat_parselmouth.py
  src/senselab/audio/tasks/features_extraction/torchaudio.py
  src/senselab/audio/workflows/health_measurements/extract_health_measurements.py
  src/senselab/utils/data_structures/pydra_helpers.py
  src/tests/audio/tasks/features_extraction_test.py
  src/tests/audio/tasks/forced_alignment_test.py
  tutorials/audio/features_extraction.ipynb
Labels: release, minor, to-test, to-test-gpu

#202 199 task audio io
  src/senselab/audio/data_structures/audio.py
  src/senselab/audio/tasks/input_output/__init__.py
  src/senselab/audio/tasks/input_output/utils.py
  src/tests/audio/data_structures/audio_test.py
  src/tests/audio/tasks/input_output_test.py
  tutorials/audio/features_extraction.ipynb
Labels: enhancement, release, minor, to-test, to-test-gpu

#206 support Python 3.12
  .github/workflows/tests.yaml
  pyproject.toml
Labels: release, minor, dependencies, github_actions, to-test, to-test-gpu
