Repository sensein/senselab, pull requests merged in 2024-09, with the labels that each got.

#152 Implement diaraization error rate
  src/senselab/audio/tasks/speaker_diarization_evaluation/__init__.py
  src/senselab/audio/tasks/speaker_diarization_evaluation/utils.py
  src/tests/audio/tasks/speaker_diarization_evaluation_test.py
Labels: enhancement, release, minor

#163 GitHub wf experiments
  .github/workflows/test.yaml
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  pyproject.toml
  src/senselab/audio/workflows/transcribe_timestamped/__init__.py
  src/senselab/audio/workflows/transcribe_timestamped/transcribe_timestamped.py
  src/senselab/text/tasks/embeddings_extraction/huggingface.py
  src/senselab/utils/data_structures/model.py
  src/senselab/utils/tasks/plotting.py
  src/tests/audio/tasks/classification_test.py
  src/tests/audio/tasks/features_extraction_test.py
  src/tests/audio/tasks/forced_alignment_test.py
  src/tests/audio/tasks/speaker_diarization_test.py
  src/tests/audio/tasks/speaker_embeddings_test.py
  src/tests/audio/tasks/speaker_verification_test.py
  src/tests/audio/tasks/speech_enhancement_test.py
  src/tests/audio/tasks/speech_to_text_test.py
  src/tests/audio/tasks/text_to_speech_test.py
  src/tests/audio/tasks/voice_activity_detection_test.py
  src/tests/audio/tasks/voice_cloning_test.py
  src/tests/audio/workflows/transcribe_timestamped_test.py
  src/tests/text/tasks/embeddings_extraction_test.py
  tutorials/00_getting_started.ipynb
  tutorials/dimensionality_reduction.ipynb
  tutorials/extract_speaker_embeddings.ipynb
  tutorials/speaker_diarization.ipynb
  tutorials/speech_enhancement.ipynb
  tutorials/speech_to_text.ipynb
  tutorials/text_to_speech.ipynb
  tutorials/transcribe_timestamped.ipynb
  tutorials/voice_activity_detection.ipynb
  tutorials/voice_cloning.ipynb
Labels: enhancement, release, minor, to-test, to-test-gpu

#142 Add audio windowing iterator
  src/senselab/audio/data_structures/audio.py
  src/tests/audio/data_structures/audio_test.py
Labels: enhancement, release, minor, to-test, to-test-gpu

#164 switch to poetry - last
  .github/workflows/docs.yaml
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  pyproject.toml
Labels: enhancement, patch, to-test, to-test-gpu

#167 fixing transformers version to 4.44.2 until they solve some issues with the text-to-speech pipeline
  pyproject.toml
Labels: bug, release, patch, dependencies, to-test, to-test-gpu

#166 First pr/issue wf
  .github/workflows/greetings.yaml
Labels: enhancement, github_actions, to-test, to-test-gpu

#100 ✨Add speaker verification tutorial and documentation
  src/senselab/audio/tasks/speaker_verification/doc.md
  tutorials/speaker_verification.ipynb
Labels: documentation, enhancement, release, patch, to-test, to-test-gpu

#165 adjusting windowing by returning an Audio instead of a waveform
  src/senselab/audio/data_structures/audio.py
  src/tests/audio/data_structures/audio_test.py
Labels: enhancement, release, patch, to-test, to-test-gpu
