Repository sensein/senselab, pull requests merged in 2024-10, with the labels that each got.

#168 adjusting verification tutorial and fixtures
  src/tests/audio/data_structures/audio_test.py
  tutorials/speaker_verification.ipynb
Labels: release, patch, to-test, to-test-gpu

#169 re-organizing tutorials
  README.md
  src/senselab/audio/tasks/speaker_diarization/doc.md
  src/senselab/audio/tasks/speaker_embeddings/doc.md
  src/senselab/audio/tasks/speaker_verification/doc.md
  src/senselab/audio/tasks/speech_enhancement/doc.md
  src/senselab/audio/tasks/speech_to_text/doc.md
  src/senselab/audio/tasks/speech_to_text_evaluation/doc.md
  src/senselab/audio/tasks/text_to_speech/doc.md
  src/senselab/audio/tasks/voice_activity_detection/doc.md
  src/senselab/audio/tasks/voice_cloning/doc.md
  tutorials/audio/00_getting_started.ipynb
  tutorials/audio/extract_speaker_embeddings.ipynb
  tutorials/audio/speaker_diarization.ipynb
  tutorials/audio/speaker_verification.ipynb
  tutorials/audio/speech_enhancement.ipynb
  tutorials/audio/speech_to_text.ipynb
  tutorials/audio/text_to_speech.ipynb
  tutorials/audio/transcribe_timestamped.ipynb
  tutorials/audio/voice_activity_detection.ipynb
  tutorials/audio/voice_cloning.ipynb
  tutorials/utils/dimensionality_reduction.ipynb
Labels: release, minor, to-test, to-test-gpu

#170 Adjusting utilities for plotting spectrograms
  src/senselab/audio/tasks/features_extraction/torchaudio.py
  src/senselab/audio/tasks/plotting/__init__.py
  src/senselab/audio/tasks/plotting/plotting.py
  src/tests/audio/tasks/features_extraction_test.py
Labels: release, patch, to-test, to-test-gpu

#102 Review and test data-augmentation
  pyproject.toml
  src/senselab/audio/data_structures/audio.py
  src/senselab/audio/tasks/data_augmentation/__init__.py
  src/senselab/audio/tasks/data_augmentation/api.py
  src/senselab/audio/tasks/data_augmentation/audiomentations.py
  src/senselab/audio/tasks/data_augmentation/data_augmentation.py
  src/senselab/audio/tasks/data_augmentation/doc.md
  src/senselab/audio/tasks/data_augmentation/torch_audiomentations.py
  src/senselab/text/tasks/embeddings_extraction/sentence_transformers.py
  src/tests/audio/conftest.py
  src/tests/audio/tasks/data_augmentation_test.py
  src/tests/audio/tasks/preprocessing_test.py
  src/tests/utils/data_structures/dataset_test.py
  src/tests/video/conftest.py
  tutorials/audio/audio_data_augmentation.ipynb
Labels: enhancement, release, minor, to-test, to-test-gpu
