Repository sensein/senselab, pull requests merged in 2025-02, with the labels that each got.

#246 Fixing timestamped-ASR with long audio recordings
  src/senselab/audio/tasks/speech_to_text/huggingface.py
Labels: bug, release, patch, to-test, to-test-gpu

#250 Fixing enhancement with segment duration < kernel size
  src/senselab/audio/tasks/preprocessing/preprocessing.py
  src/senselab/audio/tasks/speech_enhancement/speechbrain.py
Labels: bug, release, patch, to-test, to-test-gpu

#248 Fix/workaround to Pydra serialization issue while keeping torch up to date
  pyproject.toml
  src/tests/utils/data_structures/pydra_helpers_test.py
Labels: bug, release, patch, to-test, to-test-gpu

#201 Created SER tutorial
  pyproject.toml
  src/senselab/audio/tasks/classification/__init__.py
  src/senselab/audio/tasks/classification/api.py
  src/senselab/audio/tasks/classification/doc.md
  src/senselab/audio/tasks/classification/huggingface.py
  src/senselab/audio/tasks/classification/speech_emotion_recognition.py
  src/senselab/audio/tasks/classification/speech_emotion_recognition/__init__.py
  src/senselab/audio/tasks/classification/speech_emotion_recognition/api.py
  src/senselab/audio/tasks/classification/speech_emotion_recognition/doc.md
  src/senselab/utils/data_structures/__init__.py
  src/senselab/utils/data_structures/audio_classification_result.py
  src/tests/audio/tasks/classification_test.py
  src/tests/utils/data_structures/audio_classification_result_test.py
  tutorials/audio/speech_emotion_recognition.ipynb
Labels: enhancement, release, minor, to-test, to-test-gpu

#254 adding python-ffmpeg to the dependencies and updating audiomentations version
  pyproject.toml
  src/tests/audio/tasks/data_augmentation_test.py
Labels: bug, release, patch, to-test, to-test-gpu

#255 migrating to poetry 2 and ensuring arm arch on mac
  .github/workflows/docs.yaml
  .github/workflows/publish.yaml
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  src/senselab/__init__.py
  tutorials/audio/speech_emotion_recognition.ipynb
Labels: release, minor, to-test, to-test-gpu

#257 experimenting with fixing seg fault during doc build
  .github/workflows/docs.yaml
  README.md
Labels: bug
