Repository sensein/senselab, pull requests merged in 2025-03, with the labels that each got.

#264 Initialize HF models using their preferred data type
  src/senselab/audio/tasks/data_augmentation/torch_audiomentations.py
  src/senselab/audio/tasks/speech_to_text/huggingface.py
  src/senselab/audio/tasks/text_to_speech/huggingface.py
Labels: enhancement, release, patch, to-test, to-test-gpu

#266 Fix docs
  .github/workflows/docs.yaml
  pyproject.toml
Labels: documentation, release, patch

#265 adding freevc, openvoice and knnvc (new implementation) for voice cloning
  README.md
  pyproject.toml
  src/senselab/audio/tasks/voice_cloning/api.py
  src/senselab/audio/tasks/voice_cloning/coqui.py
  src/senselab/audio/tasks/voice_cloning/doc.md
  src/senselab/audio/tasks/voice_cloning/knnvc.py
  src/senselab/utils/data_structures/__init__.py
  src/senselab/utils/data_structures/model.py
  src/tests/audio/tasks/voice_cloning_test.py
  src/tests/utils/data_structures/dataset_test.py
  tutorials/audio/voice_cloning.ipynb
Labels: enhancement, release, minor, to-test, to-test-gpu

#273 Added sparc for voice cloning
  .github/workflows/tests.yaml
  .gitignore
  pyproject.toml
  src/senselab/audio/tasks/voice_cloning/api.py
  src/senselab/audio/tasks/voice_cloning/coqui.py
  src/senselab/audio/tasks/voice_cloning/doc.md
  src/senselab/audio/tasks/voice_cloning/sparc.py
  src/tests/audio/tasks/voice_cloning_test.py
  tutorials/audio/voice_cloning.ipynb
Labels: enhancement, release, minor, to-test, to-test-gpu

#291 Fixed but where n_fft defaults to 1024
  .pre-commit-config.yaml
  pyproject.toml
  src/senselab/audio/tasks/features_extraction/torchaudio.py
  src/tests/audio/tasks/features_extraction_test.py
Labels: bug, release, patch, to-test, to-test-gpu
